/* KEEP THIS!!! VERY IMPORTANT!! */
* {
    box-sizing: border-box;
    font-family: inherit;
}
/* Custom styles you may delete or modify if you'd like */
body {
    background-color: #33b3a6;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    margin: 0;
    padding: 48px;
}

body > h1 {
    margin-top: 0;
}

.link {
    padding: 0 16px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer; /* the cursor */
    border: outset 2px black;
    background-color: #ccc;
}

.link:hover {
    text-decoration: underline;
}
.link:active {
    border-style: inset;
}