/* KEEP THIS!!! VERY IMPORTANT!! */
* {
    box-sizing: border-box;
    font-family: inherit;
}
@font-face {
  font-family: 'Opensanslocal';
  font-style: normal;
  font-weight: 300;
  src: url(assets/font/font.ttf) format('truetype');
  font-variation-settings:
    "wdth" 100;
}
/* Custom styles you may delete or modify if you'd like */
body {
    font-family: 'Opensanslocal';
    background-color: #33b3a6;
    margin: 0;
    padding: 0px 48px 48px 48px;
}

.link {
    padding: 0 16px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    cursor: pointer; /* the cursor */
    border: outset 2px black;
    background-color: #ccc;
}

.link:hover {
    text-decoration: underline;
}
.link:active {
    border-style: inset;
}
h1 { 
    margin: 0;
}